@font-face {
  font-family: Roboto-Light;
  src: url(./public/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./public/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: CallOfDuty;
  src: url(./public/fonts/CallOfDuty.otf);
}

body,
html {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Avoid scrollbars */
  overflow-y: scroll;
}

.intro-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./public/assets/pBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
}

.intro-section .header-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 160px);
}

.intro-section .header-container .logo-container .logo-content {
  width: 170px;
  height: 170px;
}

.intro-section .header-container .action-container .action-links {
  text-decoration: none;
  font-size: 18px;
  color: #a3a3a3;
  margin-left: 40px;
}

.intro-section .intro-content {
  font-family: CallOfDuty, Roboto;
  font-size: 48px;
  margin-top: 10%;
  color: #ffffff;
  max-width: 950px;
}

.intro-section .intro-section-content {
  position: relative;
}

.intro-section .btn-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.intro-section .btn-container .btn {
  width: 200px;
  border-radius: 12px;
  padding: 20px;
  background: #d0d0d0;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.intro-section .circle1 {
  position: absolute;
  top: 30vh;
  right: -40vh;
  border: 1px solid #ffffff;
  border-radius: 65vh;
  width: 130vh;
  height: 130vh;
}

.intro-section .circle2 {
  position: absolute;
  top: 50vh;
  right: -30vh;
  border: 1px solid #ffffff;
  border-radius: 50vh;
  width: 100vh;
  height: 100vh;
}

.intro-section .circle3 {
  position: absolute;
  top: 70vh;
  right: -20vh;
  border: 1px solid #ffffff;
  border-radius: 35vh;
  width: 70vh;
  height: 70vh;
}

.intro-section .icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: black;
  position: relative;
  top: 0%;
  left: 27%;
}

.intro-section .icon-circle-text {
  position: relative;
  top: 20px;
  left: 27%;
  color: #ffffff;
  margin: 0;
  /* margin-left: -20px; */
  font-size: 18px;
}

.intro-section .icon-circle img {
  position: relative;
  top: 20px;
  left: 20px;
}

.intro-section .btn-container .btn .btn-text {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #2326c5, #141415);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.intro-section .scroll-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10vh;
}

.intro-section .scroll-container .scroll-circle {
  width: 64px;
  height: 64px;
  border-radius: 48px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.intro-section .scroll-container .scroll-circle img {
  width: 16px;
  height: 20px;
}

.intro-section .scroll-container .scroll-text {
  font-size: 18px;
  color: #8b8b8b;
  margin: 0;
  margin-left: 20px;
  line-height: 64px;
}

.values-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./public/assets/pBackground1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  color: #ffffff;
  overflow: hidden;
}

.values-section .values-container {
  max-width: calc(100% - 160px);
}

.values-section .values-section-header {
  font-family: CallOfDuty;
  font-size: 48px;
  text-align: center;
  margin: 0;
  margin-top: 5%;
}

.values-section .values-section-subtitle {
  font-size: 45px;
  margin-top: 50px;
  text-align: center;
}

.values-section .values-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  gap: 20px;
}

.values-section .values-card-container .values-card {
  background: #1b1b1bcc;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin-bottom: 5%;
}

.values-section .values-card-container .values-card .card-text-1 {
  font-size: 20px;
}

.values-section .values-card-container .values-card .card-text-2 {
  font-size: 16px;
}

.teams-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./public/assets/pBackground2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  color: #ffffff;
  overflow: hidden;
}

.teams-section .teams-container {
  max-width: calc(100% - 160px);
}

.teams-section .teams-section-header {
  font-family: CallOfDuty;
  font-size: 48px;
  text-align: center;
  margin: 0;
  margin-top: 5%;
}

.teams-section .teams-section-subtitle {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

.teams-section .teams-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  gap: 20px;
}

.teams-section .teams-card-container .teams-card {
  border-radius: 10px;
  width: 290px;
  margin-bottom: 5%;
}

.teams-section .teams-card-container .teams-card .card-text-1 {
  font-size: 30px;
  color: #f6f6f6;
}

.teams-section .teams-card-container .teams-card .card-text-2 {
  font-size: 20px;
  color: #aeaeae;
}

.locki-footer {
  display: flex;
  flex-flow: row nowrap;
  background-image: linear-gradient(to right, #0c0c0c, #111253, #0b0d0c);
  border-top: 1px solid #14154a;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  position: relative;
}

.locki-footer .external-links {
  cursor: pointer;
  margin-right: 15px;
  z-index: 10;
}

.locki-footer .external-links svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.locki-footer .copyright-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .intro-section {
    padding-left: 0;
    padding-right: 0;
    height: unset;
    min-height: 100vh;
  }

  .intro-section .circle1,
  .intro-section .circle2,
  .intro-section .circle3 {
    display: none;
  }

  .intro-section .header-container {
    justify-content: center;
    width: 100%;
    max-width: unset;
  }

  .header-container .action-container {
    display: none;
  }

  .intro-section .intro-content {
    font-size: 40px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro-section .btn-container {
    justify-content: center;
  }

  .intro-section .btn-container .btn {
    padding: 10px;
  }

  .intro-section .scroll-container {
    display: none;
  }

  .values-section {
    background-size: contain;
    background-repeat: repeat-y;
    padding-left: 0;
    padding-right: 0;
  }

  .values-section .values-container {
    max-width: unset;
    width: 100%;
  }

  .values-section .values-section-subtitle {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .values-section .values-card-container {
    margin-top: 75px;
  }

  .teams-section {
    background: linear-gradient(to right, #0c0c0c, #111253, #0b0d0c);
    padding-left: 0;
    padding-right: 0;
  }

  .teams-section .teams-container {
    max-width: unset;
    width: 100%;
  }

  .teams-section .teams-section-header {
    font-size: 40px;
    margin-top: 50px;
  }

  .teams-section .teams-section-subtitle {
    font-size: 20px;
    margin-top: 15px;
  }

  .teams-section .teams-card-container {
    justify-content: center;
    margin-top: 70px;
    gap: 50px;
  }

  .teams-section .teams-card-container .teams-card .card-text-1 {
    margin: 10px auto;
  }

  .teams-section .teams-card-container .teams-card .card-text-2 {
    font-size: 16px;
  }

  .locki-footer {
    justify-content: center;
    padding-bottom: 50px;
  }

  .locki-footer .copyright-text {
    bottom: 10px;
  }
}
